@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face {
    font-family: 'lostar';
    src: url('fonts/lostar');
}

:root {
    --font-logo: "lostar", serif;
    --font-family: "Roboto", sans-serif;

    --roboto-regular-14: 14px "Roboto";
    --roboto-bold-14: bold 14px "Roboto";

    --roboto-regular-16: 16px "Roboto";
    --roboto-bold-16: bold 16px "Roboto";

    --roboto-bold-20: bold 20px "Roboto";
    --roboto-bold-30: bold 30px "Roboto";
    --roboto-bold-40: bold 40px "Roboto";
    --roboto-bold-50: bold 50px "Roboto";

    --lostar-regular-30: 30px "lostar";
    --lostar-regular-50: 50px "lostar";
    --lostar-regular-60: 60px "lostar";


    --black: #141414;
    --overlay-bg: rgb(20, 20, 20, .5);
    --white: #FFFFFC;
    --grey: rgba(135,135,135, 0.2); /*make this 20% opacity*/
    --light-grey: #A6A7B3;
    --medium-grey: #545458;
    --dark-grey: #333333;
    --rose: #F94E9B;
    --violet: #910BEA;
    --dark-blue: #4A10D1;
    --blue: #687FE9;
    --light-blue: #4CC9F0;

    /*gradient*/
    --gradient-rv: linear-gradient(85deg, var(--rose) 5%, var(--violet) 95%);
    --gradient-bb: linear-gradient(85deg, var(--dark-blue) 2%, var(--light-blue) 113%);
    --gradient-vb: linear-gradient(85deg, var(--violet) 5%, var(--blue) 95%);
}

html {
    color: var(--white);
    font-family: var(--font-family);
    padding: 0;
    margin: 0;
    padding-top: 5rem;
}

body {
    background-color: #141414;
}


main {
    padding: 0 5rem 0 5rem; 
}

section {
    overflow-y: auto;
    max-width: 100vw;
}

#color {
    margin-bottom: 0;
}


/*********** NAV BAR **********/
nav {
    overflow: hidden;
    background-color: rgb(20, 20, 20, 0.8);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; 
    width: 100%;
    z-index: 100; 
}

.list {
    padding: 0 5rem 0 5rem;
}

#navbar ul {
    list-style-type: none;
    margin: 1.5rem 0 1.5rem 0;
}

.listItem a, 
#logoNav a {
    text-decoration: none;
    color: var(--white);
    font: var(--roboto-bold-14);
}

.listItem {
    display: flex;
    align-items: center;
}

#logoNav a {
    font: var(--lostar-regular-30);
}

.borderGradient {
    background-image: var(--gradient-rv);
    width: 100%;
    height: 5px;
    margin: 0;
    padding: 0;
}

/*********** HOME **********/
#home_logo {
    width: 500px;
    height: auto;
}

.homeCover {
    padding: 5rem 0 5rem 0;
    margin: 1rem 0 1rem 0;
}

.homeContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 3rem;
}

.homeMockup img {
    max-width: 80%;
}

.homeContent img {
    width: 80px;
    height: 80px;
    align-self: flex-start;
}

.homeDes .ARTFLOW {
    font-family: "lostar";
    font-size: 100px;
    margin: 0;
}

.homeDes .description {
    font-family: "Roboto";
    font-size: 50px;
    font-weight: bold;
    margin: 0;
    margin-top: -1rem;
}

.studentList {
    list-style-type: none;
    padding: 0;
    margin: 2rem 0 0 0;
}

.studentList li{
    text-decoration: none;
    font: var(--roboto-bold-14);
}

/*********** LOGO **********/
#logo .colourCatg {
    margin-bottom: 12rem;
}

/*********** COLOURS **********/
.colourCatg {
    margin-top: 5rem;
    margin-bottom: 10rem;
}

.subhead {
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 2rem;
    margin-bottom: 5rem;
}

.subMark {
    height: 50px;
    width: 20px;
    background: linear-gradient(11deg, #F94E9B -5.71%, #910BEA 100%);
}

.subCaption {
    font-family: "Roboto";
    font-size: 50px;
    font-weight: bold;
    margin: 0;
}

.secHead {
    font: var(--roboto-bold-40);
    margin-top: 0;
}

.colourDesc p {
    font: var(--roboto-regular-16);
}

.coloursCardSet {
    gap: 4rem;
}

.coloursCard {
    background-color: var(--white);
    border-radius: 5px;
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;

    color: var(--black);
}

.swatches {
    margin-top: 0.6rem;
    width: 90%;
    height: 130px;
    border-radius: 5px;
    
    align-self: center;
}

.colourName,
.hex {
    margin: 0;
    align-self: flex-end;
    margin-right: 1rem;
    font-size: 12px;
}

.colourName {
    margin-top: 0.8rem;
}

.hex {
    margin-bottom: 0.8rem;
}

.mockup img{
    width: 100%;
    height: auto;
}

.buttonRV, 
.buttonBB, 
.chips {
    width: 240px;
    height: 50px;
    border-radius: 50px;
    border: none;
    color: var(--white);
    font: var(--roboto-bold-16);
}

.buttonRV {
    background-image: var(--gradient-rv);
}

.buttonRV:hover {
    background-image: var(--gradient-bb);
}

.buttonBB {
    background-image: var(--gradient-bb);
}

.buttonBB:hover {
    background-image: var(--gradient-rv);
}

.chips img {
    width: 20px;
    height: 20px;
}

.chips {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
    background-color: var(--black);

    background: linear-gradient(var(--black), var(--black)) padding-box,
                var(--gradient-rv) border-box;
    border-radius: 50px;
    border: 3px solid transparent;
}

.chips:hover {
    background-image: var(--gradient-rv);
    border: 3px solid var(--white);
}

.chips .xIcon  {
    fill: white
}

.examples {
    align-items: end;
}

.examples button, 
.examples .switch {
    margin: 1rem;
}

/*********** TOGGLE SWITCH **********/

.slider.round {
    border-radius: 50px;
}
  
.slider.round:before {
    border-radius: 50px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 30px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border: 2px solid var(--white);
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 3px;
    background-color: var(--white);
    -webkit-transition: .4s;
    transition: .4s;
    align-self: center;
}
  
input:checked + .slider {
    background-image: var(--gradient-rv);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--gradient-rv);
}

input:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}

/*********** COLOUR CONTRAST **********/
.contrast {
    width: 100%;
    column-gap: 5rem;
    row-gap: 4rem;
    align-items: center;
    justify-items: center;
}

.contrast button {
    border-radius: 25px;
    height: 50px;
    width: 240px;

    font: var(--roboto-bold-16);
    color: var(--white);
    background-color: "";
    border: none;
}

.contrast img {
    width: 100%;
    height: auto;
}

/*********** TYPOGRAPHY **********/
#typography {
    margin-bottom: 10rem;
}


.typography {
    column-gap: 10rem;
    margin-bottom: 5rem;
}

.roboto-usage {

}

.roboto-usage h1,
.roboto-bold .ph1 {
    font: var(--roboto-bold-40);
}

.roboto-bold {
    font-weight: bold;
}

.roboto-regular .ph1,
.roboto-italic .ph1 {
    font-family: "roboto";
    font-size: 40px;
    font-weight: regular;
}

.roboto-italic {
    font-style: italic;
}

.ph1 {
    margin: 0.5rem 0 0.5rem 0;
}

.ph2 {
    margin: 0 0 5rem 0;
}

.lostar-usage h1 {
    font: var(--lostar-regular-50);
}

.lostar-typeface {
    font: var(--lostar-regular-50);
}

/*Headings*/
.headings {
    margin: 2rem 0 2rem 0;
}

.headings h1 {
    font: var(--roboto-bold-50);
}
.headings h2 {
    font: var(--roboto-bold-40);
}
.headings h3 {
    font: var(--roboto-bold-30);
}
.headings h4 {
    font: var(--roboto-bold-20);
}
.headings .h5-bold {
    font: var(--roboto-bold-16);
}
.headings .h5-regular {
    font: var(--roboto-regular-16);
}
.headings .h6 {
    font: var(--roboto-regular-14);
}

/*********** GRID **********/
.grid-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15rem;
}

.grid-img img {
    width: 45%;
    height: auto;
}

/*********** GRIDJS **********/
.grid-bg {
    width: 301px;
    height: 652px;
    background: var(--white);
    border-radius: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.grid-col {
    height: 652px;
    width: 56px;
    background: rgba(245, 158, 158, 0.50);
}

.grid-margin,
.grid-gutter {
    height: 652px;
    width: 100%;
    background-color: var(--white);
}

.grid-margin {
    width: 8px;
}

.grid-gutter {
    width: 24px;
}

/*** GRID OVERLAY ***/
.grid-margin-overlay,
.grid-col-overlay,
.grid-gutter-overlay {
    background: var(--dark-grey);
    width: 120px;
    border-radius: 15px;
    padding: 1rem;
    display: flex;
    color: var(--white);
}

.grid-overlay-h1 {
    font: var(--roboto-bold-20);
    color: var(--rose);
    margin: 0;
    margin-bottom: 0.5rem;
}

.grid-overlay-p {
    font: var(--roboto-regular-16);
    margin: 0;
}


/*********** ICONOGRAPHY **********/
#iconography {
    margin-bottom: 10rem;
}

.iconography {
    margin-bottom: 5rem;
    column-gap: 5rem;
}

/* NAV BAR */
.nav-bar-var img {
    width: 80%;
    height: auto;
}

/* CHIPS */
.chip1, 
.chip2 {
    column-gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.chipSet, 
.iconSet {
    margin-bottom: 5rem;
}

.chip1-default, 
.chip1-hover, 
.chip1-active, 
.chip2-default,
.chip2-hover,
.chip2-add {
    border-radius: 25px;
    font: bold 12pt "roboto";
    height: 40px;
    border: none;
    color: var(--white);

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}

.chip2 img {
    width: 10%;
}

.chip1-default {
    background-color: var(--dark-grey);
}


.chip1-hover {
    border: 2px solid var(--violet);
    background-color: var(--dark-grey);
}

.chip1-active {
    background-color: var(--violet);
}

.chip2-default {
    background: linear-gradient(var(--black), var(--black)) padding-box,
                var(--gradient-rv) border-box;
    border: 2px solid transparent;
}

.chip2-hover {
    background-image: var(--gradient-rv);
}

.chip2-add {
    background-color: var(--black);
    border: 2px solid var(--white);
}

/* ICONS */
.iconSet {

}

.icon-primary, 
.icon-secondary,
.icon-react {
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    column-gap: 1rem;
    margin-bottom: 1.5rem;
}

/* CARDS */
.cards img {
    width: 80%;
    height: auto;
    margin-bottom: 1.5rem;
}

/* BUTTONS */
.button-iconography {
    column-gap: 1.5rem;
    row-gap: 1.5rem;
}

.iconography button {
    border-radius: 25px;
    height: 40px;
    font: bold 11pt "roboto";
    color: var(--white);

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}

.google-button, 
.google-button-active {
    background-color: var(--black);
    border: 2px solid var(--white);
}

.google-button img, 
.google-button-active img {
    width: 7%;
}

.google-button-active {
    background-color: var(--grey);
}

.outline-button {
    background: linear-gradient(var(--black), var(--black)) padding-box,
                var(--gradient-rv) border-box;
    border: 2px solid transparent;
}

.outline-button-active {
    background-image: var(--gradient-rv);
    border: none;
}

.solid-button {
    background-color: var(--rose);
    border: none;
}

.solid-button-active {
    background-image: var(--gradient-rv);
    border: none;
}

.gradient-button {
    background-image: var(--gradient-rv);
    border: none;
}

.gradient-button-active {
    background-image: var(--gradient-bb);
    border: none;
}

/* SWITCH */
.switch-iconography label{
    margin-top: 1.5rem;
}

/* INPUT */
.input-iconography {
    font: var(--roboto-bold-16);
}

.inputs {
    background-color: var(--grey);
    width: 100%;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
    color: var(--white);
    padding-left: 0.5rem;
    font-size: 1rem;
    border: none;
}

/* FORM */
.success {
    display: none;
    flex-direction: column;
    align-items: center;
}
.success svg {
    padding-top: .25rem;
    fill: var(--rose);
    width: 100px;
    height: auto;
}
.error {
    display: none;
}

/*********** QUIZ **********/
#quiz {
    color: var(--white);
}

.quizButtons {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.option {
    width: 400px;
    height: 50px;
    border: 2px solid var(--white);
    border-radius: 25px;
    background-color: var(--black);
    color: var(--white);
    margin: 0.5rem;
    font: var(--roboto-bold-16);
    cursor: pointer;
}

.option:hover {
    background: linear-gradient(var(--black), var(--black)) padding-box,
    linear-gradient(to right, var(--rose), var(--violet)) border-box;
    border-radius: 25px;
    border: 2px solid transparent;
}

.option:focus {
    background-image: var(--gradient-rv);
    border: 0;
}

.submitButton, .success button {
    width: 200px;
    height: 50px;
    background: var(--gradient-bb);
    border-radius: 25px;
    color: var(--white);
    font: var(--roboto-bold-16);
    border: 0;
    margin: 2rem;
    cursor: pointer;
}

.success button {
    width: fit-content;
    padding: 0 2rem;
}

.submitButton:hover,
.submitButton:active, .success button:hover {
    background: var(--gradient-rv);
}

#alert-container {
    margin-top: 3rem;
    width: 600px;
    height: 150px;
    padding: 3rem;
    color: var(--white);
    font: var(--roboto-bold-20);
    border-radius: 25px;
    background: linear-gradient(var(--black), var(--black)) padding-box,
    linear-gradient(to right, var(--rose), var(--violet)) border-box;
    border-radius: 25px;
    border: 2px solid transparent;
    cursor: pointer;
    display: none;
}

.alertBox {
    color: var(--white);
    font: var(--roboto-bold-20);
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;
    position: relative;
}




/*********** REFERENCES **********/
.reference-list {
    margin-bottom: 15rem;
}


/***********BASIC SETTINGS**********/
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/***********CORE SETTINGS**********/
.row {
    display: grid;
    row-gap: 1rem;
}

.col {
    position: relative;
}

.grid {
    display: grid;
}


/* LARGE */

@media screen and (min-width: 64em) {
    .l-col-2 {
        grid-template-columns: 1fr 1fr;
    }

    .l-col-1-2 {
        grid-template-columns: 0.5fr 1fr;
    }

    .l-col-2-1 {
        grid-template-columns: 0.6fr 1fr;
    }

    .l-col-2-2 {
        grid-template-columns: 1fr 0.8fr;
    }

    .l-col-3 {
        grid-template-columns: repeat(3, 1fr);
    }

    .l-col-7 {
        grid-template-columns: repeat(7, 1fr);
    }

    .l-col-8 {
        grid-template-columns: repeat(8, 1fr);
    }

    .l-row-span {
        grid-column-start: 1;
        grid-column-end: -1;
    }

    .l-hide {
        display: none;
    }
}

/*CAROUSEL at Color section*/

.carousel {
    width: 1150px;
    height: 100vh;
    position: relative;
    left: 10px;
}

.slide {
    margin-left: 180px;
    position: absolute;
    inset: 0;
    opacity: 0;
}

.slide[data-active] {
    opacity: 1;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 2rem;
    top: 12%;
    z-index: 2;
    color: var(--white);
    background-color: var(--grey);
    width: 60px;
    height: 60px;
    border-radius: .45rem;
    padding: 0.5 rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.carousel-button.prevBtn {
    transform: scaleX(-1);
    left: 1rem;
}

.carousel-button.nextBtn {
    right: -10rem;
}

.gradient-2 {
    text-align: right;
    line-height: 7px;
}

.gradient-hex {
    padding-top: 7px;
}

.container {
        border: 2px solid #333;
}

.color {
    display: table-cell;
    width: 90%;
    height: 130px;
    margin-left: -1px;
    margin-top: -1px;
    border-radius: 5px;
    cursor: pointer;
}

.clr1,
.clr2,
.clr3,
.clr4,
.clr5,
.clr6,
.clr7,
.clr8,
.clr9,
.clr10,
.clr11 {
    position: absolute;
    z-index: 30;
}
    .clr1 {
        background: var(--black);
    }

    .clr2 {
        background: var(--white);
        border: 1px solid var(--light-grey);
    }

    .clr3 {
        background: var(--rose);
    }

    .clr4 {
        background: var(--violet);
    }

    .clr5 {
        background: var(--light-blue);
    }
    .clr6 {
        background: var(--blue);
        margin-left: 0;
        margin-top: 0;
    }
    .clr7 {
        background: var(--grey);
    }
    .clr8 {
        background: var(--light-grey);
    }

    .clr9 {
        background: var(--dark-grey);
    }
    .clr10 {
        background: var(--gradient-rv);
    }
    .clr11 {
        background: var(--gradient-bb);
    }

    
    
    


/*CAROUSEL at Color section*/
/* SMALL ONLY

@media screen and (max-width: 39.9375em) {
    .s-hide {
        display: none;
    }
}

*/

/* MEDIUM AND UP 

@media screen and (min-width: 40em) {
    .row {
        column-gap: 1.5rem;
        row-gap: 1.5rem;
        margin: 0 auto;
    }

    .grid {
        display: grid;
        column-gap: 0.5rem;
        row-gap: 0.5rem;
    }

    .m-col-2 {
        grid-template-columns: 1fr 1fr;
    }
}

*/

/* MEDIUM ONLY 

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .m-row-span {
        grid-column-start: 1;
        grid-column-end: -1;
    }

    .m-hide {
        display: none;
    }
}
*/